.firemakincontainer {
  width: 90%;

  background-color: #232a35;

  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  border-top: #b46624 solid 6px;
}

.bgc {
  background-color: #343c4a;
  margin: 3px auto;
  border-radius: 5px;
  width: 100%;
}

.selectlog {
  height: 54px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    padding: 10px;
  }
}

.logquemar {
  display: flex;
  
}

.log {
  width: 30%;
  height: 132px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.probabilitis {
  width: 70%;
  padding: 10px 0 0 10px;
}
.imges{
    display: flex;
}
.mastery {
  padding: 0 20%;
}

.product {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.produce{
 display: flex;
}
.tienes{
  display: flex;
}
.exp {
  
}
.quemar {
  height: 10px;
}
