

.mastercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}




.masterylvl{
    
    background-color: aqua;
    display: flex;
}
.exp{
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cargamastery{
    height: 10px;
    width: 120%;
    background-color: aquamarine;
}
