:root {
 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #003857;
  
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
* img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color:white
}

p{
  
}